:root{
    box-sizing: border-box;  
    font-size: calc(1em);
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: inherit;
}

*, ::before, ::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

.navbar {
    width: 100%;
    height: 3.5em;
}

.navbar .links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000000;
    position: relative;
    height: 100%;
}

.links li a{
    color: #ffffff;
    text-decoration: none;
}

.links .logo{
    height: 6em;
    width: 6em;
    background: #000000;
    position: absolute;
    top: 0.25em;
    padding: 0.5em;
    -webkit-clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%);
    clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%)
}

.links .logo img{
    height: 100%;
    width: 100;
    object-fit: contain;
}

header{
    background-image: url(./img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cabezeraMain{
    display: flex;
    width: 100%;
    height: 21em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #000000;

}

.titulo{
    font-family: 'Monoton', cursive;
    color: #ffffff;
    font-size: 4em;
    font-weight: 100;
}

.eslogan{
    color: #ffffff;
    font-size: 1em;
}

.containerGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 50%;    
    justify-content: center;
}

.articulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 1em;
    margin: 0.2em;
    padding: 0.5em;
    box-shadow: 4px 4px 13px -2px rgb(95, 93, 93);
}

.marcofoto{
    width: 100%;
    height: 30%;
    background-color: #000000;
}

.marcofoto .imgArticulo{
    width: 100%;  
    height: auto;
    object-fit: cover;
    object-position: center center;
}


.articulo h3{
    padding-bottom: 1em;
    color: #612e1d;
    font-size: 1.5em;
}

.articulo p{
    font-size: 0.8em;
    padding-bottom: 1em;
    text-align: justify;
}

.boton{
    background-color: transparent;
    border: 0.5px solid #000000;
    padding: 0.3em;
}

.boton.type1{
    width: 100%;
    border-radius: 0.5em;
    padding: 1em;
    border: none;
    background-color: #ffa500;
    color: #ffffff;
}

.boton.type1:hover{
    transition: all 0.7s;
    background-color: #ffffff;
    color: #ffa500;

}


@media only screen and (max-width: 600px){

    .articulo{
        grid-column-start: auto;
        grid-column-end: span 3;
    }
    .articulo{
        padding-bottom: 3em;
        padding-top: 3em;
        align-items: center;
    }

    .links .logo{
        visibility: hidden;
    }

    .titulo{
        font-size: 2em;
    }
    .navbar .links{
        flex-direction: column;
        padding-top: 1em;
        height: auto;
    }

}
