:root{
    box-sizing: border-box;  
    font-size: calc(1em);
    font-family: 'Raleway', sans-serif;
}

html{
    font-size: inherit;
}

*, ::before, ::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

.navbar {
    width: 100%;
    height: 3.5em;
}

.cabezeraMain i{
    margin-top: 1em;
    color: #ffffff;
    font-size: 2em;

}

.cabezeraMain i:hover, .cabezeraMain i:active{
    color: #0000ff;
    transition: all 1s;
}

.navbar .links{
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: #000000;
    position: relative;
    height: 100%;
}

.links li a{
    color: #ffffff;
    text-decoration: none;
    transition: all 0.5s;
}

.links li a:hover{
    text-decoration: #ffffff underline;
}

.links .logo{
    height: 6em;
    width: 6em;
    position: absolute;
    background-color: #000000;
    top: 0.25em;
    padding: 0.5em;
    -webkit-clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%);
    clip-path: polygon(50% 0%,100% 50%,50% 100%,0% 50%)
}

.links .logo img{
    height: 100%;
    width: 100;
    object-fit: contain;
}

header{
    background-image: url(img/fondo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cabezeraMain{
    display: flex;
    width: 100%;
    height: 21em;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00000000;

}

.titulo{
    font-family: 'Monoton', cursive;
    color: #ffffff;
    font-size: 4em;
    font-weight: 100;
}

.eslogan{
    color: #ffffff;
    font-size: 1em;
}

.containerGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: 50%;    
    justify-content: center;
}

.articulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 1em;
    margin: 0.2em;
    padding: 0.5em;
    box-shadow: 4px 4px 13px -2px rgb(95, 93, 93);
}

.marcofoto{
    width: 100%;
    height: 30%;
    background-color: #000000;
}

.marcofoto .imgArticulo{
    width: 100%;  
    height: auto;
    object-fit: cover;
    object-position: center center;
}


.articulo h3{
    padding-bottom: 1em;
    color: #612e1d;
    font-size: 1.5em;
}

.articulo p{
    font-size: 0.8em;
    padding-bottom: 1em;
    text-align: justify;
}

.boton{
    background-color: transparent;
    border: 0.5px solid #000000;
    padding: 0.3em;
}

.boton.type1{
    width: 100%;
    border-radius: 0.5em;
    padding: 1em;
    border: none;
    background-color: #ffa500;
    color: #ffffff;
}

.boton.type1:hover, .boton.type1:active{
    transition: all 0.7s;
    background-color: #ffffff;
    color: #ffa500;

}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    height: auto;
}

.flex.contacto{
    background-color: #0000006e;
    border-radius: 3em;

}

.flex .form{
    border-radius: 0.5em;
    padding: 0.5em;
}

.flex label{
    color: #ffffff;
    line-height: 2em;
}

.flex.contacto h6{
    color: #ffffff;
    font-size: 1.3em;
    padding-top: 2em;
}

.flex.contacto p{
    color: #ffffff;
    font-size: 0.9em;
    padding: 1em 3em 0;
    text-align: justify;
}

.containerGrid.type2{
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50%;
    margin: auto;
    padding: 0%;
    text-align: -webkit-center;
    padding-top: 1em;
    padding-bottom: 2em; 
    background-image: url(img/contacus.jpg);  
    background-position: center;
    background-size: cover; 
}

.containerGrid.type3{
    grid-template-columns: 50% 50%;
    grid-auto-rows: 50%;
    margin: auto;
    padding: 0%;
    padding-top: 1em;
    padding-bottom: 2em; 
    background-color: #000000;
}

.social{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
    margin-left: 2em;
}

.social i{
    color: #ffffff;
    padding: 0.2em;
}

@media only screen and (max-width: 900px){

    .articulo{
        grid-column-start: auto;
        grid-column-end: span 3;
    }

    .flex{
        grid-column-start: auto;
        grid-column-end: span 2;
        margin-top: 0.7em;
    }

    .articulo{
        padding-bottom: 3em;
        padding-top: 3em;
        align-items: center;
    }

    .links .logo{
        visibility: hidden;
    }

    .titulo{
        font-size: 2em;
    }
    .navbar .links{
        flex-direction: column;
        padding-top: 1em;
        height: auto;
    }

    .flex.contacto p{
    color: #ffffff;
    font-size: 0.9em;
    padding: 1em 4em 2em;
    text-align: justify;
    }

}
